@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

/* .active {
  color: #069b7d;
} */
.list ul {
  margin-top: 2rem;
  padding-left: 2rem;
}

.list ul li {
  list-style-type: disc;
}
